@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

 .logo {
    width: 80px;
    margin-right: 1rem;
  } 


label {
    color: rgba(0, 0, 0, 0.05);
 }

input[type="text"] {
    color: rgba(0, 0, 0, 0.05);
    background-color:  rgba(0, 0, 0, 0.05);
    width: 1000px;
    border: none; 
    padding: 10px 20px; 
 }

input[type="submit"] {
    background-color: #fb3e44;
    color: white;
    border: none; 
    padding: 10px 20px; 
    cursor: pointer;
 }

 .box-link {
    width: 50px; 
    background-color: #fdfdfd; 
    text-align: center; 
    text-decoration: none; 
    color: #333; 
    border: 1px solid #ccc; 
    margin: 10px 0; 
    padding: 10px 20px; 
 }

 .redbox-link {
  width: 50px; 
  padding: 5px; 
  background-color: #fb3e44;
  text-align: center; 
  text-decoration: none; 
  color: white;
  border: none; 
  padding: 10px 20px; 
  cursor: pointer;
 } 

.no-format-link {
    text-decoration: none; 
 }

#top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(232,217,217,.3);
  height: 600px;
 }

#top-section h1 {
  font-size: 90px;
  font-weight: bold;
 }

#top-section article {
  font-size: 20px;
  width: 800px;
}

#top-section div {
  padding: 50px;
  margin: 10px;
 }

#mid-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
 }

 #mid-section h1 {
  font-size: 40px;
  font-weight: bold;
  background-color: rgba(255,204,53,.4);
  transform: skew(9deg,0deg);
  font-style: italic;
 }

 #mid-section > img {
  width: 300px;
  height:auto;
 }

 #mid-section article {
  font-size: 20px;
  width: 800px;
}

#bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 300px;
  padding: 0 100px;
 }

.final-link{
  display: block;
  justify-content: space-between;
  align-items: center;
 }

 #bottom-section img {
  width: 50px;
  height:auto;
 } 

 #bottom-section h3 {
  color: #ED1C24;
  font-size: 25px;
 }

 #last-link {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.final-link {
  text-decoration: none;
  background-color: black;
  padding: 10px 20px;
  box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2); 
  color: white !important; 
  width: fit-content;
  text-align: center;
}
















